<div class="grid-wrapper" *ngIf="pokemonList?.length">
  <ng-container>
    <div *ngFor="let pokemon of pokemonList" class="custom-card" [attr.type]="pokemon.types[0]?.type.name">
      <div class="pokemon-card__content">
        <div class="pokemon-card__info">
          <p class="bubble" *ngFor="let type of pokemon.types" [attr.type]="type.type.name"> {{
            type.type.name | capitalize }}</p>
        </div>
        <h3 class="pokemon-card__name">{{ pokemon.name | capitalize }}</h3>
        <p class="pokemon-card__description">{{ pokemon.description | capitalize }}</p>
        <p class="bubble" [attr.type]="pokemon.types[0]?.type.name" (click)="navigateToDetail(pokemon.id)">
          Know More
        </p>
      </div>
      <div class="pokemon-card__image">
        <span class="pokemon-card__id">#00{{ pokemon.id }}</span>
        <img class="pokemon-card__sprite" [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
      </div>
    </div>
  </ng-container>
</div>

