.bubble {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: FFFFFF;
    background-color: #007bff;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Kumbh Sans', sans-serif;
  
  }
  
  .bubble[type="fire"] {
    background-color: #FD7D24;
  }
  
  .bubble[type="water"] {
    background-color: #4592C4;
  }
  
  .bubble[type="grass"] {
    background-color: #9BCC50;
  }
  
  .bubble[type="electric"] {
    background-color: #FFB900;
  }
  
  .bubble[type="psychic"] {
    background-color: #f85888;
  }
  
  .bubble[type="rock"] {
    background-color: #A38C21;
  }
  
  .bubble[type="ghost"] {
    background-color: #7B62A3;
  }
  
  .bubble[type="dragon"] {
    background: linear-gradient(45deg, #53A4CF 50%, #F16E56 60%);
  }
  
  .bubble[type="dark"] {
    background-color: #71717B;
  }
  
  .bubble[type="fairy"] {
    background-color: #FDB9E9;
  }
  
  .bubble[type="normal"] {
    background-color: #9EB7B8;
  }
  .bubble[type="bug"] {
    background-color: #729F3F;
  }
  .bubble[type="flying"] {
  background: linear-gradient(45deg, #3DC7EF 30%, #BCB9B8 70%);
}
  .bubble[type="ground"] {
    background: linear-gradient(45deg, #FFD230 50%, #997E1D 60%);
  }
  .bubble[type="steel"] {
    background-color: #8FA1B9;
  }
  .bubble[type="battle"] {
    background-color: #D56723;
  }
  .bubble[type="poison"] {
    background-color: #B97FC9;
  }
  .bubble[type="ice"] {
    background-color: #51C4E7;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.8rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000;
    background-color: #007bff;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }

  .stats[type="hp"] {
    background-color: #DF2140;
  }

  .stats[type="attack"] {
    background-color: #FF994D;
  }

  .stats[type="defense"] {
    background-color: #EECD3D;
  }

  .stats[type="special-attack"] {
    background-color: #85DDFF;
  }

  .stats[type="special-defense"] {
    background-color: #96DA83;
  }

  .stats[type="speed"] {
    background-color: #FB94A8;
  }