.pokemon-list-container {
    display: flex;
    flex-direction: column;
    /* Organiza las secciones en columnas */
    gap: 1rem;
    /* Espaciado entre las secciones */
    padding: 1rem;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 3 cards por fila cuando hay espacio */
    gap: 1rem;
    padding: 1rem;;

}