
<div class="pokemon-list-container">
   <!-- Header -->
  <div class="header-container">
    <div class="logo-container">
      <img src="assets/images/pokedex-app.png" alt="PokeData" class="logo" />
    </div>
  </div>
    <!-- Search Bar -->
    <app-search-bar></app-search-bar>
  
  
  <div class="pokemon-list-container">
    <app-card [pokemonNames]="pokemonNames"></app-card>
  </div>

  <!-- Pagination -->
  <mat-paginator
    [length]="totalPokemon"
    [pageSize]="pageSize"
    [pageSizeOptions]="[20, 40, 60]"
    (page)="onPageChange($event)"
  ></mat-paginator>
  
  <!-- <div *ngIf="isLoading" class="loading">
    <p>Loading Pokémon names...</p>
  </div> -->
  
  <!-- <div *ngIf="!isLoading && pokemonNames.length > 0" class="pokemon-names">
    <ul>
      <li *ngFor="let name of pokemonNames">
        <p>{{ name }}</p>
      </li>
    </ul>
  </div>
  
  <div *ngIf="!isLoading && pokemonNames.length === 0" class="no-data">
    <p>No Pokémon names found.</p>
  </div> -->

</div>