<div class="pokemon-list-container">
  <!-- Header -->
  <div class="header-container">
    <div class="logo-container">
      <img src="assets/images/pokedex-app.png" alt="PokeData" class="logo" />
    </div>
  </div>
  <!-- Search Bar -->
  <app-search-bar (search)="onSearchPokemon($event)"></app-search-bar>

  <!-- Search Results -->
  <div *ngIf="searchedPokemon && !searchError" class="card mt-3 p-3">
    <h4 class="text-capitalize">{{ searchedPokemon.name }}</h4>
    <img [src]="searchedPokemon.sprites.other['official-artwork'].front_default" class="img-fluid" />
    <p><strong>Altura:</strong> {{ searchedPokemon.height / 10 }} m</p>
    <p><strong>Peso:</strong> {{ searchedPokemon.weight / 10 }} kg</p>
    <p><strong>Tipos:</strong>
      <span *ngFor="let t of searchedPokemon.types">{{ t.type.name }} </span>
    </p>
  </div>

  <!-- Error -->
  <div *ngIf="searchError" class="text-danger mt-3">
    {{ searchError }}
  </div>

  <!--  -->
  <div *ngIf="!searchedPokemon && !searchError" class="pokemon-list-container">
    <app-card [pokemonNames]="pokemonNames"></app-card>
    <mat-paginator [length]="totalPokemon" [pageSize]="pageSize" [pageSizeOptions]="[20, 40, 60]"
      (page)="onPageChange($event)"></mat-paginator>
  </div>



</div>