.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  max-width: 600px;
  gap: 12px;
  position: relative;

  .search-input {
    flex: 1;
    padding: 0.75rem 2.5rem 0.75rem 1rem; // espacio para el botón "x"
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
    background-color: #fff;
    color: #333;
    width: 100%;
    position: relative;

    &::placeholder {
      color: #aaa;
    }
  }

  .clear-button {
    position: absolute;
    right: 70px; // ajusta según tamaño del botón search
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      color: #888;
      font-size: 20px;
      transition: color 0.2s ease;
    }

    &:hover mat-icon {
      color: #333;
    }
  }

  .search-button {
    padding: 0.75rem 1rem;
    background-color: #FF5350;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      color: #fff;
      width: 20px;
      height: 20px;
    }
  }
}
